# Compilados de Java
*.class

# Archivos de log
*.log

# Archivos de Eclipse
.project
.classpath
.settings/

# Archivos generados por Maven
/target/


# Eclipse
.metadata/
.recommenders/
bin/
tmp/
*.tmp
*.bak
*.swp
*~



# Archivos generados por el sistema operativo o aplicaciones
.DS_Store
Thumbs.db
desktop.ini

# Archivos de bloqueo de LibreOffice/OpenOffice
.~lock.*#

